main {
  min-width: 320px;
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  gap: 2rem;
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
  border: solid blue 2px;
  tansition: all 1.14s ease-in-out;
  animation: borderColorCycle 9.2s infinite;
}

.me {
  position: relative;
  width: 30rem;
  height: 23rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  line-height: 1.5rem;
}

.me .item.active {
  display: block;
  animation: fadeInOut 1.5x linear infinite;
}

footer {
  position: absolute;
  bottom: 0;
  padding: 2rem;
}

.link {
  font-weight: 600;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes borderColorCycle {
  0% {
    border-color: blue;
  }
  25% {
    border-color: green;
  }
  50% {
    border-color: orange;
  }
  75% {
    border-color: red;
  }
  100% {
    border-color: blue;
  }
}


@media screen and (max-width: 32rem) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin-right: 0;
    margin-bottom: 0.6rem;
  }

 main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
 } 

.video {
  max-width: 20rem;
}

footer {
  position: relative;
}

}
